<app-header></app-header>
<div class="container-fluid">
  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Total Tweets">
   <span class="fa fa-twitter fa-5x"></span> <span class="badge badge-light">{{numTweets}}</span>
  </button>

  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Total Users">
    <span class="fa fa-users fa-5x"></span> <span class="badge badge-light">{{numUsers}}</span>
  </button>
</div>